*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color:hsl(0, 0%, 90%) ;
    display: flex;
    justify-content: center;align-items: center;
    padding:30px;
}

#calculator{
    width: 50%;
    height: 90vh;
    border-radius: 20px;
    background-color: hsl(0, 0%, 20%);
    overflow: hidden;
}

#display{
   width: 100%;
   height: 15vh;
   border: none;
   background-color: hsl(0, 0%, 15%);
   color: white;
   font-family: Verdana, Geneva, Tahoma, sans-serif ;
   font-size: 3rem;
   padding: 1rem;

}

#keys{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
    padding:25px 60px;
    gap: 10px;
    background-color: hsl(0, 0%, 10%);
    
}

button{
    height: 70px;
    width: 70px;
    border-radius: 40px;
    background-color:hsl(0, 0%, 20%);
    font-size:3rem ;
    color:white;
    cursor: pointer;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
   
}

button:hover{
    background-color:hsl(0, 0%, 40%); ;
}

button:active{
    background-color:hsl(0, 0%, 70%); ;
}

.operator-btn{
    background-color:hsl(39, 100%, 40%) ;
}

.operator-btn:hover{
    background-color:hsl(39, 100%, 50%) ;
}

.operator-btn:active{
    background-color:hsl(39, 100%, 70%) ;
}

