*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    min-height: 150vh;
    width: 100%;
    background-color: skyblue;
    display: flex;
    flex-direction: column;
}

header {
    background-color: blue;
    flex: 1;
}

main  {
    background-color: yellow;
    flex: 7;
    display: flex;
}

aside {
    background-color: brown;
    flex: 1;
}

.main_container {
    background-color: white;
    flex: 9;
    display: flex;
    flex-direction: column;
}

.container {
    background-color: green;
    flex: 5;
}

footer {
    background-color: black;
    flex: 1;
}







