
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    background-color:skyblue ;
    min-height: 100vh;
    width: 100%;
    
}

header {
    flex:1 ;
    background-color:blue ;
}


 main{
    flex: 8;
    background-color:yellow ;
    display: flex;
}

aside {
    background-color: purple;
    flex:1;
}

.main_container{
    background-color: red;
    flex: 6;
    display: flex;
    flex-direction: column;
}


.main {
    background-color:white ;
    flex: 7;
}

footer {
    background-color: black;
    flex: 2;
}



