*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
   
    min-height: 100vh;
    width: 100%;
    background-color: beige;

}

  .leftSideBar {
    background-color:red ;
    flex: 2;

}


.main_container {
    background-color:palegoldenrod ;
    flex: 12;
    display: flex;
    flex-direction: column;
}

header {
    background-color: blue;
    flex: 1.5;
}

main {
    background-color: teal;
    flex: 10;
    display: flex;
}



footer {
    background-color: green;
    flex: 2;
}


.container {
    background-color:tomato ;
    flex: 5;
}

.rightSideBar {
    background-color:skyblue ;
    flex: 1;

}


