*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: skyblue;
   
    
    
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blue;
    height: 13vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 2rem;

}

header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 3px solid white;
    padding:5px 10px;
    text-decoration: overline;
}

header button {
    border: none;
    background-color: white;
    color: blue;
    height: 30px;
    width: 10vw;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder ;
}

nav ul {
    display: flex;
    gap: 3rem;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

.container{
    background-color: yellow;
    height: 30vh;
    width: 50%;
    
    
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}



