*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
   
    
    
}

header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blue;
    height: 13vh;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 2rem;

}

header h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 3px solid white;
    padding:5px 10px;
    text-decoration: overline;
}

header button {
    border: none;
    background-color: white;
    color: blue;
    height: 30px;
    width: 10vw;
    border-radius: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bolder ;
}

nav ul {
    display: flex;
    gap: 3rem;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover{
    text-decoration: underline;
    background-color: white;
    color: blue
}

nav ul li a:active{
     color: yellow;
}

/* nav ul li a:visited{
    color: red;
} */

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    height: auto;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    background-color: yellow;
    height: 60vh;
    width: 100%;
    display: flex;
    gap: 10px;
   
}

/* .container:hover {
    background-color: honeydew;
    text-align: center;
    cursor: pointer;
    width: 20%;
} */

.container-item1 {
   flex: 2;
   background-color: white;
   padding: 0 3rem;
   text-align: center;
   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.container-item2{
    background-color: green;
    flex: 1;
}

.container-item3{
    background-color: black;
    flex: 1;
}


footer {
    background-color: black;
    height: 30vh;
    width: 100%;
}









