body {
    background-color: yellow ; 
}

h1 {
    color: blue;
    text-align: center;
}

p {
    color: white;
    background-color: blue;
}

#firstHeading {
   color: red;
   text-align: start;
}

.para1 {
    background-color: green;
    color: white;
}




