*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 

body {
    background-color: skyblue;
    min-height: 100vh;
    width: 100%;
    background: url(./wallpaper.jpg);
    background-repeat:no-repeat;
    background-position: center;
    background-size:cover;
    display: flex;
    gap: 50px;
    flex-direction: column;

   
   
    
}

.box1{
    background-color: white;
    height: 40vh;
    width: 30vw;
    margin: 20px;
    padding: 30px 50px;
    border-radius:10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    gap: 20px;
 
}

.box1 h1 {
    border: 5px dotted white;
}

.box2 {
    height: 20vh;
    width:20vw;
    background-color: blue ;
}

/* .box3 {
    height: 20vh;
    width:20vw;
    background-color:yellow;
}
 

.box4 {
    height: 20vh;
    width:20vw;
    background-color:teal ;
}

.box5 {
    height: 20vh;
    width:20vw;
    background-color:tomato ;
} */

header {
     height: 15vh;
     width: 100%;
     background-color:white;
     display: flex;
     justify-content: space-between;
     padding:  5px 20px;
     align-items: center;

}

nav ul {
    display: flex;
    list-style-type:none ;
    gap: 30px;
    font-size:20px ;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

header button {
    border: none;
    height: 30px;
    width: 110px;
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size:15px ;
    padding: 1px;
} */