* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



a {
    text-decoration: none;
   
}

p {
    /* text-decoration:line-through; */
     text-indent:10% ;
     text-shadow: 1px 2px 0px blue;
     border:10px ridge green;

     /* border-width:10px;
     border-style: ridge;
     border-color: green ; */





}

h1 {
    border: 5px dotted red;
    text-align: center;
}

.box{
    height: 50vh;
    width: 40vw;
    background-color: springgreen;
    background-image: url(./wallpaper.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    /* border: 2px solid black; */
    border-radius: 100px;

}


body {
    background-color:whitesmoke;
}

.rounded {
    height: 50vh;
    width: 50vh;
    background-color:brown ;
    border-radius:100%;



}  


.box1 {
     height: 30vh;
     width: 20vw;
     background-color: red;
     margin: 30px 100px;
    ;
}

.box2 {
     height: 30vh;
     width: 20vw;
     background-color:blue;
     color: white;
     margin: 20px;
     padding: 50px 20px 10px 30px;  
}

.box3 {
     height: 30vh;
     width: 20vw;
     background-color:yellow;
}
