*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 :root {
    --bg1: #F5EFE6;
    --Nunito : 'Nunito', sans-serif;
    --Inter: 'Inter', sans-serif;
    --verdantText : 'Dancing Script', cursive;
    --lightGreen:#5A7554;
    
 }


body {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:var(--bg1);
}

header {
    height: 8.8vh;
    width: 100%;
    background-color: white ;
    display: flex;
    padding: 1.25rem 6.25rem;
    justify-content: space-between;
    align-items: center;

}



header .logo_container {
    display: flex;
    gap: 4px;
   
}

header .logo_container img {
    width: 2.5rem;
    height: 2.5rem;
}

header .logo_container h1 {
  
    font-family: var(--verdantText);
    font-weight: 700;
    font-style: Bold;
    font-size: 2.25rem;
    color: var(--lightGreen);
   
    

}


header nav ul {
    display: flex;
    gap: 3rem;
    list-style: none;
}

header nav ul li a {
     font-family: var(--Inter);
    font-weight: 500;
    font-style: Medium;
    font-size: 1.25rem;
    color: var(--lightGreen);
    text-decoration: none;
}

header button {
    border: none;
    background-color: var(--lightGreen);
    height: 30px;
    width: 100px;
   
    border-radius: 20px;
    font-family: var(--Inter);
    font-weight: 500;
    font-style: Medium;
    font-size:0.9rem;
    color: white;

}
